/* Home.css */

body {
    background-image: url('../img/fondo5.jpg');
    background-size: cover; /* Para cubrir todo el área del cuerpo */
    background-repeat: no-repeat; /* Para evitar la repetición de la imagen */
    background-position: center; /* Para centrar la imagen */
    min-height: 100vh; /* Para asegurar que el body tenga al menos el 100% del viewport height */
}


.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
  }
  
 /* Home.css */

 @font-face {
    font-family: 'ChillPixels-Matrix';
    src: url('../Fuentess/ChillPixels-Matrix.otf') format('opentype');
 }

 


 @font-face {
    font-family: 'Whocats';
    src: url('../Fuentes/Whocats.otf') format('opentype');
  }
  
  h1 {
    font-family: 'Whocats', sans-serif;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .btn {
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-success:hover {
    background-color: #218838;
    border-color: #218838;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-danger:hover {
    background-color: #c82333;
    border-color: #c82333;
  }
  