/* FUENTES */
@font-face {
  font-family: 'ChillPixels-Maximal';
  src: url('../Fuentes/ChillPixels-Maximal.otf') format('opentype');
}
@font-face {
  font-family: 'Whocats';
  src: url('../Fuentes/Whocats.otf') format('opentype');
}

/* Home.css */
body {
  background-image: url('../img/fondo5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  position: relative;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Esto crea espacio entre tus elementos */
  height: 200px; /* Ajusta esto según tus necesidades para el espaciamiento */
}

input[type="text"] {
  margin-bottom: 20px; /* Espacio entre el campo de texto y el botón */
}



.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  width: 80%;
  max-width: 600px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.container {
  text-align: center;
}

.si {
  display: flex;
  flex-direction: column;
  align-items: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #007bff;
  opacity: 1; /* Firefox */
  font-size: 1.25rem;
}

input[type="text"] {
  border: 2px solid #007bff;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.25rem;
}


/* trabajar arriba */


input[type="text"]:focus {
  outline: none; 
  box-shadow: 0 0 10px #007bff;
}


.BtnInicio {
  width: 100%;
  max-width: 35px;
}

/* Estilos de los botones */
.btn {
  cursor: pointer;
}

.btn-musica {
  background-color: aqua;
  font-family: 'ChillPixels-Maximal', sans-serif;
  font-size: 30px;
  border: none;
  transition: transform 0.3s ease;
  animation: pulseAnimation 2s infinite;
  position: fixed; 
  right: 20px; 
  bottom: 20px; 
  z-index: 10; 
  
}



@keyframes pulseAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}


.siJuego {
  background-color: #4ab393;


}

.siJuego:hover {
  background-color: #35838d;
}

.noJuego {
  background-color: #2b6453;
  margin-left: 2%;
}

.noJuego:hover {
  background-color: #35838d;
  
}

.btn-opcion {
  width: auto;
  min-width: 300px;
  max-width: 300px;
  height: 45px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.btn-opcion span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

/* Media queries para ajustar el diseño en diferentes tamaños de pantalla */
@media screen and (max-width: 768px) {
  .overlay {
      width: 90%;
  }
}

.BotonComenzar{
  align-items: center;
  font-family: 'ChillPixels-Maximal', cursive; 
}



@keyframes moveClouds {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}

.clouds {
  animation: moveClouds 60s linear infinite;
  width: 100px;
  height: auto;
}

@keyframes waveFlag {
  0%, 100% { transform: rotate(0deg); }
  50% { transform: rotate(5deg); }
}

.Titulo {
  color: #2282e9;
  text-shadow: 2px 2px 4px #000;
  font-family: 'Whocats', cursive;
  font-size: 3rem;
}

.clouds-container {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.clouds {
  width: auto;
  max-width: 100%;
  animation: floatClouds 25s linear infinite;
}

@keyframes floatClouds {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}
